<div class="lines">
 
<div class="wrapper">

  <div class="column">
<hr>
    <h5><b>What's new</b></h5>
  <li>NEW Surface Pro 6</li>
  <li>NEW Surface Laptop 2</li>
  <li>NEW Surface Go</li>
  <li>Xbox One X</li>
  <li>Xbox One S</li>
  <li>VR & mixed reality</li>
  <li>Windows 10 apps</li>
  <li>Office apps</li>
  </div>
  <div class="column">
    <hr>
    <h5><b>Store & Support</b></h5>
  <li>Account profile</li>
  <li>Download Center</li>
  <li>Sales & support</li>
  <li>Returns</li>
  <li>Order tracking</li>
  <li>Store locations</li>
  <li>Support</li>
  <li>Buy online, pick up in store</li>
  </div>
  <div class="column">
    <hr>
    <h5><b>Education</b></h5>
  <li>Microsoft in education</li>
  <li>Office for students</li>
  <li>Office 365 for schools</li>
  <li>Deals for students & parents</li>
  <li>Microsoft Azure in education</li>
  </div>
  
</div>
</div>