<div class="lines">
 
<div class="wrapper">

  <div class="column">
<hr>
    <h5><b>What's new</b></h5>
  <li><a href="https://www.microsoft.com/en-us/p/surface-pro-6/8ZCNC665SLQ5?activetab=pivot%3aoverviewtab">NEW Surface Pro 6</a></li>
  <li><a href="https://www.microsoft.com/en-us/p/surface-laptop-2/8XQJKK3DD91B?activetab=pivot%3aoverviewtab">NEW Surface Laptop 2</a></li>
  <li><a href="https://www.microsoft.com/en-us/p/surface-go/8v9dp4lnknsz?rtc=1&activetab=pivot%3aoverviewtab">NEW Surface Go</a></li>
  <li><a href="https://www.xbox.com/en-us/xbox-one-x">Xbox One X</a></li>
  <li><a href="https://www.xbox.com/en-us/xbox-one-s?xr=shellnav">Xbox One S</a></li>
  <li><a href="https://www.microsoft.com/en-us/store/b/virtualreality">VR & mixed reality</a></li>
  <li><a href="https://www.microsoft.com/en-us/windows/windows-10-apps">Windows 10 apps</a></li>
  <li><a href="https://appsource.microsoft.com/en-us/marketplace/apps?product=office&page=1&src=office&corrid=196dc20f-f3e9-4e5c-ada4-1572d1bbeaa6&omexanonuid=ed1be790-00de-4f79-a627-e7f4b9c16b7f&referralurl=https%3a%2f%2fwww.microsoft.com%2fen-us%2f">Office apps</a></li>
  </div>
  <div class="column">
    <hr>
    <h5><b>Store & Support</b></h5>
  <li><a href="https://account.microsoft.com/account/Account?refd=www.microsoft.com&ru=https%3A%2F%2Faccount.microsoft.com%2F%3Frefd%3Dwww.microsoft.com&destrt=home-index">Account profile</a></li>
  <li><a href="https://www.microsoft.com/en-us/download">Download Center</a></li>
  <li><a href="https://support.microsoft.com/en-us/help/28808/microsoft-store-contact-support">Sales & support</a></li>
  <li><a href="https://support.microsoft.com/en-us/hub/4135076/microsoft-store-help#returns-refunds">Returns</a></li>
  <li><a href="https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=13&ct=1548454833&rver=7.0.6738.0&wp=MBI_SSL&wreply=https%3A%2F%2Faccount.microsoft.com%2Fauth%2Fcomplete-signin%3Fru%3Dhttps%253A%252F%252Faccount.microsoft.com%252Fbilling%252Forders%253FforcedSignIn%253D1%2526refd%253Dwww.microsoft.com&lc=1033&id=292666&lw=1&fl=easi2">Order tracking</a></li>
  <li><a href="https://www.microsoft.com/en-us/store/locations/find-a-store?icid=en-us_UF_FAS">Store locations</a></li>
  <li><a href="https://support.microsoft.com/en-us">Support</a></li>
  <li><a href="https://www.microsoft.com/en-us/store/b/buy-online-pick-up-in-store?icid=uhf_footer_bopuis">Buy online, pick up in store</a></li>
  </div>
  <div class="column">
    <hr>
    <h5><b>Education</b></h5>
  <li><a href="https://www.microsoft.com/en-us/education">Microsoft in education</a></li>
  <li><a href="https://www.microsoft.com/en-us/education/products/office/default.aspx">Office for students</a></li>
  <li><a href="https://products.office.com/en-us/academic/compare-office-365-education-plans">Office 365 for schools</a></li>
  <li><a href="https://www.microsoft.com/en-us/store/b/education?icid=CNavfooter_Studentsandeducation">Deals for students & parents</a></li>
  <li><a href="https://azure.microsoft.com/en-us/education/">Microsoft Azure in education</a></li>
  </div>
  <div class="column">
      <hr>
    <h5><b>Enterprise</b></h5>
  <li><a href="https://azure.microsoft.com/en-us/">Microsoft Azure</a></li>
  <li><a href="https://www.microsoft.com/en-us/sql-server/">Enterprise</a></li>
  <li><a href="https://www.microsoft.com/en-us/sql-server/">Data platform</a></li>
  <li><a href="">Find a solution provider</a></li>
  <li><a href="https://partner.microsoft.com/en-us/">Microsoft partner resources</a></li>
  <li><a href="https://www.microsoft.com/en-us/solution-providers">Microsoft AppSource</a></li>
  <li><a href="https://azure.microsoft.com/en-us/">Manufacturing & resources</a></li>
  <li><a href="https://www.microsoft.com/en-us/enterprise">Financial services</a></li>

  </div>
  <div class="column">
      <hr>
    <h5><b>Developer</b></h5>
  <li><a href="https://azure.microsoft.com/en-us/">Microsoft Visual Studio</a></li>
  <li><a href="https://developer.microsoft.com/en-us/windows">Windows Dev Center</a></li>
  <li><a href="https://www.microsoft.com/en-us/sql-server/">Developer Network</a></li>
  <li><a href="https://developer.microsoft.com/en-us/windows">TechNet</a></li>
  <li><a href="https://partner.microsoft.com/en-us/">Microsoft developer program</a></li>
  <li><a href="https://www.microsoft.com/en-us/sql-server/">Channel 9</a></li>
  <li><a href="https://www.microsoft.com/en-us/solution-providers">Office Dev Center</a></li>
  <li><a href="https://www.microsoft.com/en-us/enterprise">Microsoft Garage</a></li>
  </div>
  <div class="column">
      <hr>
    <h5><b>Company</b></h5>
  <li><a href="https://www.microsoft.com/en-us/sql-server/">Careers</a></li>
  <li><a href="https://partner.microsoft.com/en-us/">About Microsoft</a></li>
  <li><a href="https://www.microsoft.com/en-us/sql-server/">company news</a></li>
  <li><a href="https://www.microsoft.com/en-us/solution-providers">Privacy ar Microsoft</a></li>
  <li><a href="https://www.microsoft.com/en-us/enterprise">Investors</a></li>
  <li><a href="https://www.microsoft.com/en-us/diversity/default.aspx">Diversity and inclusion</a></li>
  <li><a href="https://www.microsoft.com/en-us/accessibility">Accessibility</a></li>
  <li><a href="https://www.microsoft.com/en-us/security">Security</a></li>
  </div>

</div>
<br>
<div class="container">
<p id="foot1"><img id="world" src=".././assets/img/world.png">English (United States)</p>
<a class="foot">Sitemap</a>
<a class="foot">Contact Microsoft</a>
<a class="foot">Privacy&Cookies</a>
<a class="foot">Terms of use</a>
<a class="foot">Trademarks</a>
<a class="foot">Safty & eco</a>
<a class="foot">About our ads</a>
<a class="foot">@ Microsoft 2019</a>
</div>
</div>
