<div class="container">
  <div class="windows">
    <h5><a class="black" href= "https://www.microsoft.com/en-us/store/collections/PCdeals/pc">Shop Windows 10 PCs on sale.    SAVE NOW</a></h5>
    <br>
    <h1>The Windows 10 October 2018 Update</h1>
    <br>
    <h6>To help ensure the best experience, the update will roll out automatically when your PC is ready.*</h6>
    <br>
    <a href="#">UPDATE NOW></a>
    <a href="https://www.microsoft.com/en-us/windows/features">LEARN MORE></a>
    <br>
    <br>
  </div>
  <img class ="laptop"src= ".././assets/img/windows.jpg" alt="">
  <br>
  <br>
</div>    