<div class="container padding">
<h2>List of contacts:</h2>
  <div *ngFor="let contact of contacts | async" class="panel panel-default ">
    <div class="panel-body">
        <div class="linkColor">
            <h3 (click)="goToDetailPage(contact)"><em>{{contact.name}}</em></h3><br>
        </div>
        <div *ngIf="currentRoute === '/admin'">
            {{contact.name}}
            <hr>
            <app-edit-contact [selectedContact]="contact"></app-edit-contact>
        </div>
    </div>
  </div>
</div>
