<h1>Contact Microsoft Support</h1>
<br>
<div class="container" class="details">
  <h2>Contact Details:</h2>
  <h3>Name:</h3><p>{{contactToDisplay?.name}}</p>
  <h4>Email:</h4><p>{{contactToDisplay?.email}}</p>
  <h5>Phone:</h5><p>{{contactToDisplay?.phone}}</p>
  <h5>{{contactToDisplay?.$key}}</h5>
  <img class ="laptop"src= ".././assets/img/contact.png" alt="">
  <br>
  <br>
  <div class="center">
    <h2>Contact Us</h2>
    <h6>The Get Help app in Windows 10 provides fast, free support for Microsoft products.</h6>
    <br>
    <button>Open Get Help App</button>
    <br>
    <br>
    <h6><a href="https://support.microsoft.com/en-us/contact/virtual-agent/?flowId=smc-contactus&partnerId=smc&referrer=support.microsoft.com" >Contact support</a> in the browser instead.</h6>
  </div>
</div>

