<div class="wrapper">
  <div class="column">
    <hr>
    <h5><b>Software</b></h5>
    <li>Windows app</li>
    <li>One Drive</li>
    <li>OutLook</li>
    <li>Skype</li>
    <li>OneNote</li>
  </div>
  <div class="column">
    <hr>
    <h5><b>PCs & Devices</b></h5>
    <li>PCs & tablets</li>
    <li>Accessories</li>
  </div>
  <div class="column">
    <hr>
    <h5><b>Entertainment</b></h5>
    <li>Xbox Games</li>
    <li>Pc Games</li>
    <h5>Windows digital games</h5>
    <li>Mobiles & TV</li>
    <li>Books</li>
  </div>
  <div class="column">
    <hr>
    <h5><b>Business</b></h5>
    <li>Microsoft Azure</li>
    <li>Microsoft Dynamic 365</li>
    <li>Microsoft 365</li>
    <h5>Enterprise</h5>
    <li>Accessibility</li>
    <li>Data platform</li>
    <li>Microsoft Advertising</li>
  </div>
  <div class="column">
    <hr>
    <h5><b>Developer & IT</b></h5>
    <li>.Net</li>
    <li>Visual Studio</li>
    <li>Windows Server</li>
    <li>Windows Dev Center</li>
    <li>Docs</li>
  </div>
  <div class="column">
    <hr>
    <h5><b>Other</b></h5>
    <li>Microsoft Stor</li>
    <li>Microsoft Rewards</li>
    <li>Free Download and Security</li>
    <h5>Education</h5>
    <li>Stor Location</li>
    <li>Gift Cards</li>
  </div>
</div>