<div class="panel panel-default container">
    <div class="panel-heading">
      <h3 class="panel-title">Add New Contact</h3>
    </div>
    <div class="panel-body">
      <div>
        <div>
          <label>Contact Name:</label>
          <br>
          <input #newContactName>
        </div>
  
        <div>
          <label>Contact Email:</label>
          <br>
          <input #newContactEmail>
        </div>
  
        <div>
          <label>Contact Phone:</label>
          <br>
          <input type="number" #newPhone>
        </div><br>
        <button (click)="submitForm(newContactName.value, newContactEmail.value, newPhone.value); newContactName.value=''; newContactEmail.value=''; newPhone.value=''">Add</button>
      </div>
    </div>
  </div>
  <br>
  
  <div>
    <app-contacts></app-contacts>
  </div>