<div class="container">
<div id= "navbar">
  <img id="mic"src=".././assets/img/miclogo.jpg" alt="">
  <ul>
    <li><a href="https://products.office.com/en-us">Office</a></li>
    <li><a href="https://www.microsoft.com/en-us/windows">Windows</a></li>
    <li><a href="https://www.microsoft.com/en-us/surface">Surface</a></li>
    <li><a href="https://www.xbox.com/en-US/">Xbox</a></li>
    <li><a href="https://www.microsoft.com/en-us/store/b/sale?icid=gm_nav_L0_salepage">Deals</a></li>
    <li><a href="https://support.microsoft.com/en-us">Support</a></li>
    
    <select class="allmic">
      <option value="volvo">All Microsoft</option>
      <option value="saab">Windows apps</option>
      <option value="opel">Microsoft Azure</option>
      <option value="audi">PC games</option>
      <option value="audi">Accessories</option>
      <option value="audi">Books</option>
      <option value="audi">OneDrive</option>
      <option value="audi">OneNote</option>

    </select>
  </ul>
  <hr>
  <img id="ad1"src=".././assets/img/ad1.jpg" alt="">
<img id ="ad1"src= ".././assets/img/ad2.jpg" alt="">
<img id ="ad1"src= ".././assets/img/ad3.jpg" alt="">


</div>