<div class="container">
<div id= "navbar">
  <img id="mic"src=".././assets/img/miclogo.jpg" alt="">
  <ul>
    <li><a href="https://products.office.com/en-us">Office</a></li>
    <li><a href="https://www.microsoft.com/en-us/windows">Windows</a></li>
    <li><a href="https://www.microsoft.com/en-us/surface">Surface</a></li>
    <li><a href="https://www.xbox.com/en-US/">Xbox</a></li>
    <li><a href="https://www.microsoft.com/en-us/store/b/sale?icid=gm_nav_L0_salepage">Deals</a></li>
    <li><a href="https://support.microsoft.com/en-us">Support</a></li>
    <li id="allmic">All Microsoft</li>
  </ul>

    
</div>