<div class="container">
  <br>
  <div id= "navbar">
    <a routerLink=""><img id="mic"src=".././assets/img/miclogo.jpg" alt=""></a>
    <a routerLink="office">Office</a>
    <a routerLink="windows">Windows</a>
    <a href="https://www.microsoft.com/en-us/surface">Surface</a>
    <a routerLink="contacts">Customer Support</a>
    <a routerLink="admin">Admin</a>
    <select class="allmic">
      <option value="volvo">All Microsoft</option>
      <option value="saab">Windows apps</option>
      <option value="opel">Microsoft Azure</option>
      <option value="audi">PC games</option>
      <option value="audi">Accessories</option>
      <option value="audi">Books</option>
      <option value="audi">OneDrive</option>
      <option value="audi">OneNote</option>
    </select>
    
    <br>
  </div>
  <hr>
</div>
<br>