<div class="container">
  <img id ="pic"src= ".././assets/img/foroffice.jpg" alt="">
  <br>
  <br>
  <br>
  <div class="center">  
    <h1>This is your 365</h1>
    <br>
    <h6>Every day is an opportunity to achieve with Office 365.</h6>
    <br>
    <button class="btn btn-danger buttn"><a href="https://products.office.com/en-us/compare-all-microsoft-office-products?tab=1">FOR HOME</a></button>
    <button class="btn btn-danger"><a href="https://products.office.com/en-us/compare-all-microsoft-office-products?tab=2">FOR BUSINESS</a></button>
    <br>
    <br>
    <br>
    <h2>What is Office 365</h2>
    <br>
    <h6>Office 365 is a cloud-based subscription service that brings together the best tools for the way people work today. By combining best-in-class apps like Excel and Outlook with powerful cloud services like OneDrive and Microsoft Teams, Office 365 lets anyone create and share anywhere on any device.</h6>
    <br>
    <br>

  </div>

</div>