<div class="container">
<img id ="pic"src= ".././assets/img/xbox-platinum.png" alt="">
<div class="down2"><button id= "text3"><a href="https://www.microsoft.com/en-us/p/surface-pro-6/8ZCNC665SLQ5?OCID=Q2FY19SURF_dis_omc_sur_mscom&activetab=pivot%3aoverviewtab">LEARN MORE </a>></button></div>
<br>
<br>
<hr>
<br>
<div class="main">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-body">
          <img class ="laptop"src= ".././assets/img/detail1.jpg" alt="">
          <h3>Shift now</h3>
          <p>Protect your business as Windows 7 and Office 2010 reach end of support starting Jan. 14, 2020.</p>
          <h4><a href="https://www.microsoft.com/en-us/microsoft-365/modern-desktop/?ocid=AID771591_QSG_BNR_308443">GET STARTED ></a></h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
       <div class="panel panel-info">
        <div class="panel-body">
          <img class ="laptop"src= ".././assets/img/detail2.jpg" alt="">
          <h3>Windows 10 Enterprise</h3>
          <p>Download the free 90-day evaluation for IT professionals.</p>
          <h4><a href="https://www.microsoft.com/en-us/itpro/windows-10">DOWNLOAD NOW ></a></h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
       <div class="panel panel-info">
        <div class="panel-body">
          <img class ="laptop"src= ".././assets/img/detail3.jpg" alt="">              
          <h3>Unlock limitless learning</h3>
          <p>Empowering every student on the planet to achieve more.</p>
          <h4><a href="https://www.microsoft.com/en-us/education">LEARN MORE ></a></h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
       <div class="panel panel-info">
        <div class="panel-body">
          <img class ="laptop"src= ".././assets/img/detail4.jpg" alt="">              
          <h3>Microsoft Azure</h3>
          <p>Go serverless—build apps faster without managing infrastructure.</p>
          <h4><a href="https://azure.microsoft.com/en-us/solutions/serverless/">LEARN MORE ></a></h4></div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <img id ="pic1"src= ".././assets/img/people.png" alt="">
  <div id = "petition">
    <div class="center"><h4 id= "text">There is no peace without digital peace</h4></div>
    <div class="down"><p id= "text1">Join digital citizens around the world demanding an end to cyber warfare. </p></div>
    <div class="down3"><button id= "text3"><a href="https://digitalpeace.microsoft.com/">SIGN IN PETITION > </a></button></div>
  </div>
  <br>
  <br>
  <br>
  <div id="sm">
    <a>Follow Microsoft</a>
    <a href="https://www.facebook.com/Microsoft"><img class="lg" src=".././assets/img/fb.jpg"></a>
    <a href="https://twitter.com/microsoft"><img class="lg" src=".././assets/img/tw.jpg"></a>
    <a href="https://www.linkedin.com/company/microsoft/"><img class="lg" src=".././assets/img/ln.png"></a>
  </div>
</div>
<br>

