#pic{
  width: 100%;
}

#pic1{
  width: 100%;
}

.down2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -40%);
}

.down2{
  background-color: black;
  color: white;
}

.laptop{
  width: 80%;
}

