<div class= "container">
  <br>
  <img class ="laptop"src= ".././assets/img/surface.PNG" alt="">    
  <br>     
  <div class="matter1">
    <h2>Anything but ordinary</h2>
    <h5>See what's new from surface</h5>
    <br>
    <a href="https://www.microsoft.com/en-us/surface#PRO_6_PANEL">EXPLORE></a>
  </div>    
  <img class ="laptop"src= ".././assets/img/surface2.PNG" alt="">    
  <br>     
  <div class="matter2">
    <h2>Surface laptop @</h2>
    <h5>Style and speed</h5>
    <br>
    <a href="https://www.microsoft.com/en-us/p/surface-laptop-2/8XQJKK3DD91B">BUY NOW>></a>
  </div>    
  <img class ="laptop"src= ".././assets/img/surface3.PNG" alt="">    
  <br>     
  <div class="matter3">
    <h2>Surface Go</h2>
    <h5>Portable power—available with LTE Advanced</h5>
    <br>
    <a href="https://www.microsoft.com/en-us/p/surface-go/8v9dp4lnknsz">MEET SURFACE GO></a>
  </div>  

</div>