img
{
    width: 110%;
}
.matter1
{
    margin-top: -420px;
    text-align: center;
    color: white;
    margin-bottom: 400px;
}
.matter2
{
    margin-top: -350px;
    text-align: center;
    color: white;
    margin-bottom: 400px;
}
.matter3
{
    margin-top: -350px;
    text-align: center;
    color: white;
    margin-bottom: 400px;
}