#pic
{
  width: 110%;
}

.pro{
  margin-top: -350px;
  text-align: left;
  color: white;
  margin-bottom: 370px;
}

.down1 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-87%, -600%);
}

.down2 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -520%);
}

.text
{
  color:black;
}

.down2
{
  background-color: black;
  color: white;
}

.laptop
{
  width: 80%;
}