<div class="container">
  <img id ="pic"src= ".././assets/img/pic.jpg" alt="">
  <div class="centered"><h3 id= "text">New Surface Pro 6</h3></div>
  <div class="down1"><h5 id= "text1">See how the surface pro 6 helps in the wild </h5></div>
  <div class="down2"><button id= "text3"><a href="https://www.microsoft.com/en-us/p/surface-pro-6/8ZCNC665SLQ5?OCID=Q2FY19SURF_dis_omc_sur_mscom&activetab=pivot%3aoverviewtab">LEARN MORE </a>></button></div>
  <br>
  <br>
  <hr>
  <br>
 <div class="main">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-body">
          <img class ="laptop"src= ".././assets/img/laptop.jpg" alt="">
          <h3>Save $200</h3>
          <p>Get instant savings on select Surface Book 2.</p>
          <h4><a href="https://www.microsoft.com/en-us/p/surface-book-2/8MCPZJJCC98C">SHOP NOW ></a></h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
       <div class="panel panel-info">
        <div class="panel-body">
          <img class ="laptop"src= ".././assets/img/laptop1.jpg" alt="">
          <h3>For a life less ordinary</h3>
          <p>Go beyond the traditional with the new Surface Laptop 2.</p>
          <h4><a href="https://www.microsoft.com/en-us/p/surface-laptop-2/8XQJKK3DD91B?activetab=pivot%3aoverviewtab">SHOP NOW ></a></h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
       <div class="panel panel-info">
        <div class="panel-body">
          <img class ="laptop"src= ".././assets/img/xbox.jpg" alt="">              
          <h3>Xbox One X</h3>
          <p>The world's most powerful console..</p>
          <h4><a href="https://www.microsoft.com/en-us/p/surface-laptop-2/8XQJKK3DD91B?activetab=pivot%3aoverviewtab">SHOP NOW ></a></h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
       <div class="panel panel-info">
        <div class="panel-body">
          <img class ="laptop"src= ".././assets/img/laptop2.jpg" alt="">              
          <h3>Do more with Windows</h3>
          <p>Shop tablets, laptops, all-in-ones, gaming PCs, and more..</p>
          <h4><a href="https://www.microsoft.com/en-us/store/collections/PCdeals/pc">FIND YOUR NEXT PC  ></a></h4></div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<hr>